/* ------------------------------------------------------------------------------------------------------------------------------
KEYFRAMES
--------------------------------------------------------------------------------------------------------------------------------*/

@-webkit-keyframes show-header {
  0% {
    inset-block-start: -100%;
  }

  100% {
    inset-block-start: 0;
  }
}

@keyframes show-header {
  0% {
    inset-block-start: -100%;
  }

  100% {
    inset-block-start: 0;
  }
}

@-webkit-keyframes fade-up-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-up-big {
  0% {
    opacity: 0;
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
